{%extends 'photo/base.html'%}
{%block content%}
    <div class="photographer-content">
        {%for photographer in photographers%}
            <div class="photographer-info">
                <div>
                    <img class="rounded-circle photographer-img" src="{{photographer.image.url}}" alt="">
                </div>
                <div class="photographer-bio">
                    <h2>{{photographer.user.profile.full_name}}</h2>
                    <p>{{photographer.user.email}}</p>
                    <p>{{photographer.bio}}</p>
                    <a href="#">Portfolio</a>
                </div>
            </div>
        {%endfor%}
    </div>
{%endblock content%}
