{%extends 'photo/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
            <div class="photographer-info">
                <div>
                    <img class="rounded-circle photographer-img" src="{{user.profile.image.url}}" alt="">
                </div>
                <div class="photographer-bio">
                    <h2>{{user.profile.full_name}}</h2>
                    <p>{{user.email}}</p>
                    <p>{{user.profile.bio}}</p>
                </div>
                <div>
                    <form method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                       <fieldset>
                           <legend class="leg">Profile Info</legend>
                           <div class="forms">
                               {{u_form|crispy}}
                               {{p_form|crispy}}
                           </div>
                       </fieldset>
                       <div>
                           <button class="btn">Update</button>
                       </div>
                   </form>
                </div>
            </div>
{%endblock content%}