{% load cloudinary %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

    <title>Photography</title>

    <!--    Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Dancing+Script&display=swap" rel="stylesheet">
<!--    Bootstrap CSS & Personal CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'photo/main.css' %}">
</head>
<body>

<!--        Navigation-->
        <nav id="nav">
            <ul class="navbar navbar-expand-md">
                <div class="container">
                    <h1>Photography</h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav">
                            <li class="nav-item active"><a class="nav-link " href="{% url 'post-home'%}">Home</a></li>
                            <li class="nav-item active"><a class="nav-link" href="{% url 'photographer'%}">Photographers</a></li>
                            <li class="nav-item active"><a class="nav-link" href="{% url 'post-create' %}">Submit Photo</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item active"><a class="nav-link" href="{% url 'profile'%}">Profile</a></li>
                                <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                            {% else %}
                                <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                                <a href="{% url 'register'%}"><button class="btn mt-2 ml-2">SignUp</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

<!--    Main Content-->
    <main style="min-height: 100vh;">
        {%block content%}{%endblock content%}
    </main>


<!--    Pagination-->
    <nav id="page-navigation">
      <ul class="pagination justify-content-center mb-5">
          {% if is_paginated %}
                {% if page_obj.has_previous%}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
          {% endif %}
      </ul>
    </nav>

<!--   Footer-->
    <footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
<!--		<div class="overlay"></div>-->
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>A Little About Us.</h3>
					<p>
                        A platform that encourages creative photographers to show off their works.
                    </p>
					<p><a class="btn btn-primary" href="{% url 'register' %}">Become A Member</a></p>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 | All Rights Reserved.</small>
						<small class="block">Powered by Heroku</small>
					</p>
				</div>
			</div>

		</div>
	</footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
