{%extends 'photo/base.html'%}
{%block content%}
    <!--Portfolio-->
    <main id="portfolio">
        <h1>{{profile.full_name}}</h1>
        <img class="rounded-circle photographer-img" src="{{profile.image.url}}" alt="">
        <hr>
        <h2>{{profile.user.first_name}}'s Album</h2>
        {% if object_list.count > 0 %}
            {%for post in object_list%}
                <div class="portfolio-content">
                    <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" alt=""></a>
<!--                    <div class="work-info">-->

<!--                        <h2>{{post.title|title}}</h2>-->
<!--                        <p>{{post.description}}</p>-->
<!--                        <p>{{post.date_posted|date:'F d , Y'}}</p>-->
<!--                    </div>-->
                </div>
            {%endfor%}
        {% else %}
            <div class="portfolio-detail">
                <p>{{view.kwargs.username}} has no posts</p>
            </div>
        {% endif %}

    </main>


{%endblock content%}