{%extends 'photo/base.html'%}
{%block content%}
    <article class="photographer-content">
        {%for profile in object_list%}
            <section class="photographer-info">
                <div>
                    <img class="rounded-circle photographer-img" src="{{profile.image.url}}" alt="">
                </div>
                <div class="photographer-bio">
                    <h2>{{profile.full_name}}</h2>
                    <p>{{profile.user.email}}</p>
                    <p>{{photographer.bio}}</p>
                    <a href="{% url 'photographer-post' profile.user.username %}">Portfolio</a>
                </div>
            </section>
        {%endfor%}
    </article>
{%endblock content%}
