{%extends 'photo/base.html'%}
{%block content%}
    <!--Header-->
<!--        <h1>PhotoGraphy</h1>-->
<!--        <p>Home of Beauty</p>-->
<!--        <hr>-->

    <!--Portfolio-->
    <main id="portfolio">
        {%for post in object_list%}

            <div class="portfolio-content">
                <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" alt=""></a>
                <div class="work-info">
                    <a href="{{post.get_absolute_url}}"><h2>{{post.title|title}}</h2></a>
                    <a href="{% url 'photographer-post' post.photographer.username %}">
                        <div class="acc-item mt-2 mb-2">
                            <img class="rounded-circle photographer-img" src="{{post.photographer.profile.image.url}}" alt="">
                            <h3>{{post.photographer}}</h3>
                        </div>
                    </a>
                    <p>{{post.description}}</p>
                    <p>{{post.date_posted|date:'F d , Y'}}</p>
                </div>
            </div>
        {%endfor%}
    </main>


{%endblock content%}