{%extends 'photo/base.html'%}
{%block content%}
    <!--Header-->
        <h1>{{view.kwargs.username}}</h1>
<!--        <p>{{object_list.photographer}}</p>-->
        <hr>

    <!--Portfolio-->
    <main id="portfolio">
        {%for post in object_list%}

            <div class="portfolio-content">
                <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" alt=""></a>
                <div class="work-info">
<!--                    <img class="rounded-circle photographer-img" src="{{post.photographer.profile.image.url}}" alt="">-->
                    <h2>{{post.title|title}}</h2>
                    <p>{{post.description}}</p>
                    <p>{{post.date_posted|date:'F d , Y'}}</p>
                </div>
            </div>
        {%endfor%}

       <div class="btn-group btn-group-sm d-flex" role="group">
            <div class="align-self-center mx-auto">
                {% if is_paginated %}
                    {% if page_obj.has_previous%}
                        <a class="btn btn-outline-info btn-sm mb-3" href="?page=1">First</a>
                        <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn mb-3" href="?page={{num}}">{{num}}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info btn-sm mb-3" href="?page={{num}}">{{num}}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info btn-sm mb-3" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </main>


{%endblock content%}